<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>List User</title>
  </head>
  <body>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Email</th>
          <th scope="col">First name</th>
          <th scope="col">Last name</th>
          <th scope="col">Phone number</th>
          <th scope="col">Address</th>
          <th scope="col">Sex</th>
          <th scope="col">Role</th>
        </tr>
      </thead>
      <tbody>
        <% for(let i=0; i < dataTable.length; i++) { %>
        <tr>
          <td><%= dataTable[i].email %></td>
          <td><%= dataTable[i].firstName %></td>
          <td><%= dataTable[i].lastName %></td>
          <td><%= dataTable[i].phoneNumber %></td>
          <td><%= dataTable[i].address %></td>
          <td><%= dataTable[i].gender %></td>
          <td><%= dataTable[i].roleId %></td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </body>
</html>
